html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents scrolling */
}

.mainContainer {
    display: flex;
    flex-direction: column;       
    justify-content: center;
    align-items: center;          
    height: 100vh;
    gap: 2rem;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat.ttf') format('truetype');
}

.buttonStyle
{
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.buttonStyle:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    transform: translateY(-3px);
}


.titleText {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 2rem;
    margin: 0;    
}


.randomButton
{
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    background:rgba(255, 255, 255, 0)
}

.randomButton:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    transform: translateY(-3px);
}


.returnButton
{
    display: inline-block;
    padding: 12px 24px;
    /* border: 2px solid white; */
    /* border-radius: 10px; */
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    background:rgba(255, 255, 255, 0)
}
.returnButton:hover {
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.9); */
    transform: translateY(-3px);
}